@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #efedd6;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  overflow-x: hidden;
}

.h1 {
  margin: 10px;
}

.box {
  background-color: #4682b4;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  margin: 10px;
  transform: translateX(200%);
  transition: transform 0.4s ease;
}

.box:nth-of-type(even) {
  transform: translateX(-200%);
}

.box.show {
  transform: translateX(0);
}

.box h2 {
  font-family: 45px;
}
